
<div class="card">

<h1>Welcome</h1>

<% if logged_in? %>
    <h4><%= current_user.name %></h4>
<% else %>
<%= button_to "Login", '/login', method: :get, class: 'btn button1 mv-20 btn-wid' %>
<%= button_to "Sign Up", '/users/new', method: :get, class: 'btn button1 button2 mv-20 btn-wid'%>
<% end %>

<% if admin? %>
    <h5>Your an Admin.</h5>
<%end%>

<% if user? %>
    <h5>Your an User.</h5>
<%end%>

</div>
